<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Weather Forecaster</a>
    </nav>

    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-12">
                <p>Type hint your location and get the weather report</p>
            </div>
         </div>

        <div class="row">
            {{!-- <div class="col-sm-1"></div> --}}
            <div class="col-sm-6">
                <form action="/action_page.php" class="m-2">
                    <div class="form-group">
                        <input type="text" class="form-control" id="location" placeholder="Type hint your location">
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Search</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
            
        </div>
        <div id="error" class="mt-2"></div> 
        <div id="block" class="mt-2">
            Location: <strong><span id="Location"></span></strong><br>
            Temperature: <strong><span id="Temperature"></span>&deg;C </strong><br>
            Forecast: <strong><span id="Forecast"></span></strong><br>
            Precip</i>: <strong><span id="Precip"></span><i class='fas fa-cloud-rain'></i></strong><br><br>

            Wind Speed: <strong><span id="wind_speed"></span></strong><br>
            Wind Direction: <strong><span id="wind_dir"></span></strong><br>
            Humidity: <strong><span id="humidity"></span>%</strong><br>
            {{!-- localtime: <span id="localtime"></span><br> --}}


           


        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html> 